@tailwind base;
@tailwind components;
@tailwind utilities;

.bordered{
  border: 1px solid red;
}

.theme-primary{
  background-color: #262930;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}